footer
  .btn-top#btn-top
  .footer-innner
    .footer-sns.animated
      ul.list-sns
        li.md
          a(href="#" target="_blank")
            img.md(src=path+"/img/common/footer_sns_ico01.png" alt=" ")
            img.sm(src=path+"/img/common/sp/footer_sns_ico01.png" alt=" ")
        li
          a(href="#" target="_blank")
            img.md(src=path+"/img/common/footer_sns_ico02.png" alt=" ")
            img.sm(src=path+"/img/common/sp/footer_sns_ico02.png" alt=" ")
        li
          a(href="#" target="_blank")
            img.md(src=path+"/img/common/footer_sns_ico03.png" alt=" ")
            img.sm(src=path+"/img/common/sp/footer_sns_ico03.png" alt=" ")
        li
          a(href="#" target="_blank")
            img.md(src=path+"/img/common/footer_sns_ico04.png" alt=" ")
            img.sm(src=path+"/img/common/sp/footer_sns_ico04.png" alt=" ")
        li
          a(href="#" target="_blank")
            img.md(src=path+"/img/common/footer_sns_ico05.png" alt=" ")
            img.sm(src=path+"/img/common/sp/footer_sns_ico05.png" alt=" ")
        li
          a(href="#" target="_blank")
            img.md(src=path+"/img/common/footer_sns_ico06.png" alt=" ")
            img.sm(src=path+"/img/common/sp/footer_sns_ico06.png" alt=" ")
    .footer-content.animated
      .footer-logo
        img.md(src=path+"/img/common/footer_logo.png" alt="Skywill Recruitment")
        img.sm(src=path+"/img/common/sp/footer_logo.png" alt="Skywill Recruitment")
    .clear

    .footer-link.animated
      .group-menu
        ul
          li
            a(href="/message/").trans メッセージ
            ul.submenu
              li
                a(href="/message/person.html").trans スカイウィルが求めている人／向かない人
        ul
          li
            a(href="/company/").trans スカイウィルについて
            ul.submenu
              li
                a(href="/company/edusys.html").trans 教育・研修制度
              li
                a(href="/company/welfare.html").trans 福利厚生
      .group-menu
        ul
          li
            a(href="/staff/").trans スカイウィルの人
            ul.submenu
              li
                a(href="/staff/01.html").trans スカイウイルの人詳細01
              li
                a(href="/staff/02.html").trans スカイウイルの人詳細02
              li
                a(href="/staff/03.html").trans スカイウイルの人詳細03
              li
                a(href="/staff/04.html").trans スカイウイルの人詳細04
              li
                a(href="/staff/05.html").trans スカイウイルの人詳細05
              li
                a(href="/staff/06.html").trans スカイウイルの人詳細06
              li
                a(href="/staff/07.html").trans スカイウイルの人詳細07
              li
                a(href="/staff/08.html").trans スカイウイルの人詳細08
              li
                a(href="/staff/09.html").trans スカイウイルの人詳細09
            ul.submenu
              li
                a(href="/staff/10.html").trans スカイウイルの人詳細10
              li
                a(href="/staff/11.html").trans スカイウイルの人詳細11
              li
                a(href="/staff/12.html").trans スカイウイルの人詳細12
              li
                a(href="/staff/13.html").trans スカイウイルの人詳細13
              li
                a(href="/staff/14.html").trans スカイウイルの人詳細14
              li
                a(href="/staff/15.html").trans スカイウイルの人詳細15
              li
                a(href="/staff/16.html").trans スカイウイルの人詳細16
              li
                a(href="/staff/17.html").trans スカイウイルの人詳細17
              li
      .group-menu
        ul
          li
            a(href="/works/").trans スカイウィルの仕事
            ul.submenu
              li
                a(href="/works/active.html").trans スカイウィルの活躍
              li
                a(href="/works/cloud.html").trans インフラ・クラウド構築
              li
                a(href="/works/development.html").trans アプリケーション開発
              li
                a(href="/works/support.html").trans テクニカルサポート
              li
                a(href="/works/marketing.html").trans ソフトウェア品質保証
              li
                a(href="/works/consulting.html").trans ITコンサルティング
      .group-menu
        ul
          li
            a(href="/event/").trans スカイウイルのSNS紹介
          li
            a(href="/faq/").trans よくあるご質問
          li
            a(href="/info/").trans 募集要項

    .footer-copyright.animated
      | Copyright &copy; Skywill inc. All Rights Reserved.

